1 or more advanced movement mechanics
    eg double jump, wall jump, sliding
    needs to be unlocked

main combat
DONE    melee and/or ranged
DONE    hitting enemies
DONE    getting hit by enemies

1 secondary combat mechanic
    like spell slinging, hacking, you name it

player character
    gets stronger over the course of the game (XP / level-up)
    can equip found items to further increase stats

enemies
DONE    attack the player character as it gets in range
DONE    variants with melee attacks
    variants with ranged attacks
    bosses are capable of using different attacks

map
    shows discovered rooms and their doorways
    shows discovered save points
    shows where the player is currently located

game over
    player dies
    player defeats final boss

main menu
DONE    new game
DONE    load game
DONE    exit

pause menu
    shows player stats
    inventory management
    continue
    go to main menu
