1 or more advanced movement mechanics
DONE    double jump
DONE    sliding
    needs to be unlocked (link to an item?)



main combat
DONE    melee and/or ranged
DONE    hitting enemies
DONE    getting hit by enemies

1 secondary combat mechanic
    like spell slinging, hacking, you name it

player character
    gets stronger over the course of the game (XP / level-up)
    can equip found items to further increase stats

enemies
DONE    attack the player character as it gets in range
DONE    variants with melee attacks
DONE    variants with ranged attacks
DONE    bosses are capable of using different attacks
    (optional) gating for enemies (would make backtracking more interesting if harder mobs spawned)

map
DONE    shows discovered rooms and their doorways
DONE    shows discovered save points
DONE    shows where the player is currently located

game over
DONE    player dies
    player defeats final boss

main menu
DONE    new game
DONE    load game
DONE    exit

pause menu
    shows player stats
    inventory management
DONE    continue
DONE    go to main menu
